/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'BlinkMacSystemFont, Roboto, sans-serif';
    color: #333;
    background-color: #fff;
}

h3{
    padding-bottom: 1em;
    padding-top: 1em;
}

/* Cabeçalho */
.cabecalho {
    background-color: #000; /* Barra de navegação preta */
    color: #fff;
    padding: 0.625em 1.25em; /* 10px 20px */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo img {
    height: 6.25em; /* 100px */
}

.navegacao {
    margin-right: 1.25em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1.25em; /* Aproxima o menu de navegação do logo */
}

.navegacao ul {
    list-style: none;
    display: flex;
    margin-right: 45em;
}

.navegacao li {
    margin: 0 0.625em; /* 10px */
}

.navegacao a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navegacao a:hover {
    text-decoration: underline;
}

/* Botão de Sair e Nome do Usuário */
.user-info {
    display: flex;
    align-items: center;
    position: absolute;
    right: 8em; /* Distância da borda direita */
}

.btn-sair {
    background-color: #b2ff59; /* Verde claro */
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 0.625em; /* 10px */
    padding: 0.625em 1.25em; /* 10px 20px */
    font-size: 1em;
    cursor: pointer;
}

.btn-sair:hover {
    background-color: #9dff57; /* Verde um pouco mais escuro */
}

/* Banner */
.banner {
    width: 100%;
    height: 45em; /* 400px */
    object-fit: cover;
    margin-bottom: 1.25em; /* 20px */
   
}

.banner-container {
    position: relative;
    width: 100%;
    height: 40em; /* 400px */
    margin-bottom: 1.25em; /* 20px */
    padding-bottom: 1em;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 1.25em; /* Ajuste a distância da borda esquerda conforme necessário */
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto transparente */
    color: #fff;
    padding: 0.625em 1.25em; /* 10px 20px */
    font-size: 4.5em; /* Ajuste o tamanho da fonte conforme necessário */
    border-radius: 0.3125em; /* 5px */
    max-width: 45%; /* Limita a largura do texto */
    text-align: center;
}

/* Principal */
main {
    padding: 1.25em; /* 20px */
    display: flex;
    justify-content: center;
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
}


.titulo {
    text-align: center;
    margin-bottom: 1.25em; /* 20px */
    font-size: 2em;
    margin-top: 3em;
}

.texto-principal {
    text-align: justify;
    margin-bottom: 2.5em; /* 40px */
    font-size: 1.125em;
    line-height: 1.5;
    padding-right: 1.20em;
    max-width: 70em;
}

.texto-secundario {
    text-align: justify;
    margin-bottom: 2.5em; /* 40px */
    font-size: 1.125em;
    line-height: 1.5;
    padding-right: 1.20em;
    padding-top: 2em;
    max-width: 100%;
    max-width: 70em;
}

.imagens-container {
    display: flex;
    justify-content: space-between; /* Distribui as imagens com espaço entre elas */
    align-items: center; /* Alinha as imagens verticalmente */
    gap: 1em; /* Espaçamento entre as imagens */
    max-width: 70em;
    
}

.imagem-item {
    text-align: center; /* Centraliza o texto e a imagem */
    flex-basis: calc(33.33% - 0.666em); /* Ajusta a largura de cada item com base no número de imagens e no gap */
}

.imagem-item img {
    max-width: 100%; /* Faz com que as imagens ocupem o espaço disponível */
    height: auto; /* Mantém a proporção da imagem */
    padding-right: 1em;
}

.texto-imagem h2 {
    margin: 10px 0; /* Espaçamento ao redor do texto */
}


/* Botão de Informações Adicionais */
.btn-toggle-info {
    background-color: #b2ff59; /* Verde claro */
    color: #000000;
    font-weight: bold;
    border: none;
    border-radius: 1em;
    padding: 0.625em 1.25em; /* 10px 20px */
    font-size: 1em;
    cursor: pointer;
    margin-left: 30em;
}

.btn-toggle-info:hover {
    background-color: #b2ff59; /* Verde um pouco mais escuro */
}

/* Aside */
.informacoes-adicionais {
    background-color: #b2ff59; /* Verde */
    color: #000; /* Preto */
    padding: 1.25em; /* 20px */
    border-radius: 0.3125em; /* 5px */
    display: none; /* Inicialmente escondido */
    text-align: justify;
    height: 70em;
    max-width: 50%;
    overflow-y: auto; /* Adiciona barra de rolagem se necessário */
    padding: 2em;
}

.informacoes-adicionais p {
    width: 90%;
    margin-bottom: 1em; /* Margem inferior entre parágrafos */
}

.titulo-aside {
    font-size: 1.5em;
    margin-bottom: 0.625em; /* 10px */
    margin-top: 3em;
    color: #000000; /* Branco para o título para contrastar com o fundo verde */
}


/* Rodapé */
.footer {
    background-color: #1f2914; /* Verde claro */
    color: #fff;
    padding: 1.25em; /* 20px */
    text-align: center;
}

.links-footer {
    margin-bottom: 0.625em; /* 10px */
}

.link-footer {
    color: #fff;
    text-decoration: none;
    margin: 0 0.625em; /* 10px */
}

.link-footer:hover {
    text-decoration: underline;
}

.store-icons {
    margin-bottom: 0.625em; /* 10px */
}

.icone-store {
    height: 1.875em; /* 30px */
    margin: 0 0.3125em; /* 5px */
}

/* Responsividade */
@media (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        align-items: flex-start;
    }

    .navegacao ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .user-info {
        position: static;
        margin-top: 1em;
    }

    .banner {
        height: 18.75em; /* 300px */
    }

    .imagens-container {
        flex-direction: column;
    }

    .carousel img {
        width: 100%;
        height: auto;
    }
}
